{% extends "navigation/base.html" %}
{% load static %}
{% block content %}
<div class="column-set">
    <div class="column-unit" style="flex: 1 1 25%;">
        <img class="zoomable" src="{% static 'image/jamie.jpg' %}" alt="Jamie Bryan Kimani">
        <span class="caption">Jamie Bryan Kimani.</span>
        <p>Creative Director</p>
    </div>
    <div class="column-unit contact-info" style="flex: 1 1 25%;">
        <span><a href="contact-form" rel="history">→ Email</a> : hello@sevaria.co.ke</span><br>
        <span><a href="https://www.instagram.com/cargoworld/" target="_blank">→ Instagram:</a> sevaria.ke</span><br>
        <span><a href="https://www.instagram.com/cargoworld/" target="_blank">→ Location:</a> 331 Hillcrest Drive (by appointment only)</span>
    </div>
    <div class="column-unit brand-description" style="flex: 1 1 50%;">
        <h1>Sevaria is a Kenyan based fashion brand exploring vernacular fashion and evoking afro-nostalgia.<br>
        The brand was established in October 2020.</h1>
    </div>
</div>

{% endblock content %}
