{% extends "navigation/base.html" %}
{% load static %}
{% block content %}

<div class="container">

    <div class="about">
        <h1>ABOUT</h1>
    
        <p class="about-text">
            Sevaria is a contemporary fashion brand that artfully bridges the worlds of menswear and womenswear, embracing subtle elements of androgyny to redefine modern style. At its heart, Sevaria is a celebration of Afro-nostalgia—an exploration of African culture and heritage through a lens of timeless storytelling.

            Our designs place a strong emphasis on textile and texture, featuring handwoven fabrics that honor the rich traditions of African craftsmanship. Sustainability is central to our practice, with up-cycled materials sourced from second-hand markets transformed into unique, one-of-a-kind creations. Each piece is a fusion of cultural narrative, artisanal techniques, and ethical design, embodying our commitment to thoughtful fashion.
            
            Sevaria was founded by designer Jamie Bryan Kimani, whose upbringing in Kiserian deeply influences his work. Drawing inspiration from the Maasai people, sub-religious groups like the Akorino, and his lived experiences, Jamie uses fashion to challenge gender stereotypes and craft meaningful stories. For him, storytelling is the soul of his creativity—a way to honor the past while shaping the future. 
        </p>

        <div class="max-w-sm about-image  rounded-lg ">
            <a href="#">
                <img src="{% static 'image/jamies_about.JPG' %}" alt="image">
            </a>
            <p class="text-center about-name">JAMIE BRYAN</p>
            <p class="text-center about-title">Creative Director </p>
        </div>
    </div>
    
    <div class="social-media">
        <a href="https://www.facebook.com/yourpage" target="_blank" class="social-icon">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/yourprofile" target="_blank" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="tel:+1234567890" class="social-icon">
            <i class="fa-solid fa-phone"></i>
        </a>
    </div>
</div>


{% endblock content %}
