@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: flex-start;
	border-width: 0rem;
	border-color: rgba(242, 235, 20, 0.97);
	border-style: solid;
	border-top-width: 1rem;
	border-right-width: 1rem;
	border-bottom-width: 1rem;
	border-left-width: 1rem;
    font-family: 'Rosario', sans-serif;
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Background color of the nav bar */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.hover-effect {
    color: rgba(255, 37, 37, 0.97);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.hover-effect:hover {
    color: #ffffff;
    background-color: #007BFF;
}

nav column-unit {
    flex: 1;
}

.icon-link {
    margin-left: 5px;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}