{% load static %}
{% block content %}

<header>
  <nav>
    <div class="dropdown">
      <a href="#" id="dropdownMenu" class="hover-effect">&#9776;</a>
      <div class="dropdown-content">
        <a href="{% url 'home' %}">Home &#8599;</a>
        <a href="{% url 'shop' %}">Shops &#8599;</a>
        <a href="#">Bags &#8599;</a>
      </div>
    </div>
    
    <div class="brand">
      <a href="{% url 'about' %}" class="hover-effect">SEVARIA FASHIONS  &#8599;</a>
    </div>
    
    <div class="icons">
      
      <a href="#" class="hover-effect" ><i class="fa fa-shopping-cart" onclick="openCart()"></i></a>
    </div>
  </nav>
  
</header>

{% endblock content %}
