{% load static %}
{% block content %}
<div  class="flex items-center justify-center space-x-4">
  <a href="{% url 'menu' %}">
    <img src="{% static 'image/menu_icon.svg' %}" alt="Brand Icon" class="icon-size">
</a>

<div class="brand  text-center items-center">
  <a href="{% url 'about' %}" class="hover-effect-title text-3xl ">SEVARIA FASHIONS  </a>
</div>

<div >
  <a href="#">
    <img src="{% static 'image/cart_icon.svg' %}" alt="Shopping Cart" class="icon-size" onclick="openCart()">
  </a>
</div>
</div>
{% endblock content %}
