<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">
</head>
<body>
    <div class="container">
        <h2>Oops! Page not found.</h2>
        <h1>404</h1>
        <p>We can't find the page you're looking for.</p>
        <a href="{% url 'home' %}">Go back home</a>
    </div>
</body>
</html>