body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    background-color: rgba(22, 188, 31, 0.133);
}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: red;
}

.container h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url("/static/image/SEVARIA-FASHIONS-8.8d082bf9e5f4.png") center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;


}

.container a {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover {
    background: #e55039;
    
}
